@using System.Diagnostics.Eventing.Reader
@model IEnumerable<BlogSystem.Dto.ArticleDto>

@{
    ViewBag.Title = "AritcleList";
}

<h2>AritcleList</h2>

<p>
    @Html.ActionLink("Create New", "CreateArticle")
</p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BadCount)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BadCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "ArticleDetails", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <ul class="pagerList">
                @if (ViewBag.PageCount <= 7)
                {
                    // 数据实际页码数量小于等于可容纳页码的总量
                    for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        <li>
                            <a href="/Article/AritcleList?pageIndex=@(i-1)"> @i </a>
                        </li>
                    }

                }
                else
                {
                    // 数据实际页码数量大于可容纳页码的总量
                    if (ViewBag.PageIndex <= 7 / 2)
                    {
                        <span>1</span>
                        for (int i = 1; i <= 7; i++)
                        {
                            if (i == ViewBag.PageIndex+1)
                            {
                                <li>
                                    <span style="color:red"  > @i </span>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Article/AritcleList?pageIndex=@(i-1)"> @i </a>
                                </li>
                            }
                        }

                    }
                    else if ((ViewBag.PageCount - ViewBag.PageIndex - 1) <= 7 / 2)
                    {
                        <span>@ViewBag.PageCount - @(ViewBag.PageIndex + 1)</span>
                        for (int i = ViewBag.PageCount - 6; i <= ViewBag.PageCount; i++)
                        {
                            if (i == ViewBag.PageIndex+1)
                            {
                                <li>
                                    <a style="color:red" href="#"> @i </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Article/AritcleList?pageIndex=@(i-1)"> @i </a>
                                </li>
                            }

                        }
                    }
                    else
                    {
                        <span>3</span>
                        for (int i = ViewBag.PageIndex - 7 / 2+1; i <= ViewBag.PageIndex + 7 / 2+1; i++)
                        {
                            if (i == ViewBag.PageIndex+1)
                            {
                                <li>
                                    <a style="color:red" href="#"> @i </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Article/AritcleList?pageIndex=@(i-1)"> @i </a>
                                </li>
                            }
                        }
                    }
                }

            </ul>
        </td>
    </tr>
    </tfoot>
</table>

