@model BlogSystem.Dto.ArticleDto

@{
    ViewBag.Title = "ArticleDetails";
}

<h2>ArticleDetails</h2>

<div>
    <h4>ArticleDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content)  
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            类别
        </dt>
        @foreach (var item in Model.CategoryNames)
        {
            <dd class="categoryIds">
                @item
            </dd>
        }
    </dl>
</div>
<p>
    <button onclick="btnGoodHandler(this)">点赞</button>
    <button onclick="btnBadHandler(this)">反对</button>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "AritcleList")
    <input type="text" name="txtComment" id="txtComment" value="" />
    <button onclick="addComment()">添加评论</button>
</p>

<ul>
    @foreach (var comment in ViewBag.Comments)
    {
        <li>
            <span>@comment.Content</span>
            <br/>
            <span>@comment.Email @comment.CreateTime</span>
        </li>
    }
    
</ul>

<h3>
    @Url.Action("CreateArticle","Article")
</h3>


@section headers{
    <script>
        var articleId = '@Model.Id';
        function btnGoodHandler(btn) {
            $.ajax({
                url: "/Article/GoodCount/"+articleId,
                type: "post"
            }).done(() => {
                alert("点赞成功"); 
                btn.disabled = true;
            });
        }
        function btnBadHandler(btn) {
            $.ajax({
                url: "/Article/BadCount/"+articleId,
                type: "post"
            }).done(() => {
                alert("反对成功");
                btn.disabled = true;
            });
        }

        function addComment() {
            $.ajax({
                url: "/Article/AddComment",
                type: "post",
                data: {
                    Id: '@Model.Id',
                    Content:document.getElementById("txtComment").value 
                }
            }).done(() => {
                alert("添加评论成功");
                location.reload();
            });
        }
    </script>
    <style>
        .categoryIds {
            float: left;
            margin: 0px 3px !important;
            padding: 0px;
        }
    </style>
}
