@model BlogSystem.Dto.ArticleDto

@{
    ViewBag.Title = "ArticleDetails";
}

<h2>ArticleDetails</h2>

<div>
    <h4>ArticleDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            类别
        </dt>
        @foreach (var item in Model.CategoryNames)
        {
            <dd class="categoryIds">
                @item
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "AritcleList")
</p>

@section headers{
    <style>
        .categoryIds {
            float: left;
            margin: 0px 3px !important;
            padding: 0px;
        }
    </style>
}
