@model BlogSystem.MVCSite.Models.ArticleViewModels.CreateArticleViewModel

@{
    ViewBag.Title = "CreateAction";
}

    <h2>CreateArticle</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CreateArticleViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryIds, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <ul >
                @foreach (var categoryItem in ViewBag.CategoryIds)
                {
                    <li class="categoryIds"><input type="checkbox" name="CategoryIds" value="@categoryItem.Id" />@categoryItem.CategoryName</li>
                }

            </ul>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section headers
{
    <style>
        .categoryIds {
            display: inline-block !important;
            list-style: none
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
